@using MedicoCore.Helper

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Medico</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">

    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/plugins/dataTables/datatables.min.css" />
    @RenderSection("Styles", required: false)
</head>
<body>

    @{
        //para verlo en mi proyecto
        //var rutaFoto = "/Content/img/" + @usuario.Id_Usuario.ToString() + ".jpg";
        var rutaFoto = "/img/" + @SessionHelper.GetNameIdentifier(User) + ".jpg";

        //para verlo en servidor
        //var rutaFoto = "/fotoUser/" + @SessionHelper.GetNameIdentifier(User) + ".jpg";
    }

    <div id="wrapper">

        <nav class="navbar-default navbar-static-side" role="navigation">

            <div class="sidebar-collapse">

                <ul class="nav metismenu" id="side-menu">

                    <li class="nav-header">

                        <div class="dropdown profile-element">

                            <span>
                                @if (@SessionHelper.GetNameIdentifier(User) == "")
                                {
                                    <a href="@Url.Action("Index", "Home")"><img alt="image" class="img-thumbnail" src="~/img/escudo.jpg" /></a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Index", "Home")"><img alt="image" class="img-thumbnail" src="@rutaFoto" /></a>
                                }
                            </span>

                        </div>

                        <div class="logo-element">

                            SS+

                        </div>

                    </li>

                    @if (@SessionHelper.GetNameRol(User) == "Administrador")
                    {
                        <li>
                            <a href="@Url.Action("Registro", "Home")"><i class="fa fa-drivers-license-o"></i> <span class="nav-label">Registro</span>  </a>
                        </li>
                    }



                    <li>
                        <a href="@Url.Action("Index", "Nutricion")"><i class="fa fa-cutlery"></i> <span class="nav-label">Medico</span>  </a>
                    </li>

                    @if (@SessionHelper.GetNameRol(User) == "Administrador" || SessionHelper.GetNameRol(User) == "SupervisorMedico")
                    {
                        <li>
                            <a href="@Url.Action("IndexAsociar", "Asociar")"><i class="fa fa-exchange"></i> <span class="nav-label">Asociar</span>  </a>
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-search"></i> <span class="nav-label">Consultas</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">

                                <li>
                                    <a href="@Url.Action("EntradaDiaria", "Consultas")"><i class="fa fa-list"></i>Listado Diario</a>
                                </li>

                                <li>
                                    <a href="@Url.Action("EntradaDiariaPAF", "Consultas")"><i class="fa fa-list"></i>List. Dia. PAF-TOX</a>
                                </li>

                                <li>
                                    <a href="@Url.Action("EstadisticioCnca", "Consultas")"><i class="fa fa-bar-chart-o"></i>Estadisticia CNCA</a>
                                </li>

                                <li>
                                    <a href="@Url.Action("Poa", "Consultas")"><i class="fa fa-gears"></i>POA</a>
                                </li>

                                <li>
                                    <a href="@Url.Action("Electrocardiogramas", "Consultas")"><i class="fa fa-flash"></i>Electro</a>
                                </li>

                                <li>
                                    <a href="@Url.Action("Diferenciados", "Consultas")"><i class="fa fa-minus"></i>Diferenciados</a>
                                </li>

                                <li>
                                    <a href="@Url.Action("Confirmatorios", "Consultas")"><i class="fa fa-minus"></i>Confirmatorios</a>
                                </li>

                                <li>
                                    <a href="@Url.Action("EvaluacionesRealizadas", "Consultas")"><i class="fa fa-minus"></i>Eval. Realizadas</a>
                                </li>

                            </ul>
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-search"></i> <span class="nav-label">Impresiones</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">

                                <li>
                                    <a href="@Url.Action("Index", "Impresiones")"><i class="fa fa-list"></i>Aceptación - Cadena</a>
                                </li>

                                <li>
                                    <a href="@Url.Action("MedicoEvaluado", "Impresiones")"><i class="fa fa-list"></i>Médico - Evaluado</a>
                                </li>

                                <li>
                                    <a href="@Url.Action("ListadoDiario", "Impresiones", new { @fecha = DateTime.Now.ToShortDateString() })"><i class="fa fa-list"></i>Listado Diario</a>
                                </li>

                            </ul>
                        </li>
                    }


                </ul>

            </div>

        </nav>

        @* <div id="page-wrapper" class="gray-bg"> *@
        <div id="page-wrapper" class="gray-bg">


            <div class="row border-bottom">

                <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">

                    <div class="navbar-header">

                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>

                    </div>

                    <ul class="nav navbar-top-links navbar-right">

                        <li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                @*<span class="m-r-sm text-muted welcome-message">Bienvenido(a) @SessionHelper.GetName(User)</span>*@
                                <span class="m-r-sm text-muted welcome-message">Bienvenido(a) @SessionHelper.GetNameActor(User) - @SessionHelper.GetNameRol(User) </span>
                            }
                            else
                            {
                                <span class="m-r-sm text-muted welcome-message">Usuario No Autenticado</span>
                            }
                        </li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a href="@Url.Action("Logout", "Login")"><i class="fa fa-sign-out"></i> Cerrar Sesión</a>
                            </li>
                        }

                    </ul>

                </nav>

            </div>

            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        @RenderBody()
                        <hr />
                    </div>
                </div>
            </div>
            <footer>
                <p>&copy; @DateTime.Now.Year - Sistema Dirección Médico y Toxicológico - UI.</p>
            </footer>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="~/js/jquery-3.1.1.min.js"></script>
    @*<script src="~/js/bootstrap.radiomin.js"></script>*@
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="~/js/inspinia.js"></script>
    <script src="~/js/plugins/pace/pace.min.js"></script>

    <script src="~/js/plugins/dataTables/datatables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>