@model IEnumerable<MedicoCore.Models.Asociar.AsociarLista>

@{
    ViewData["Title"] = "IndexAsociar";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <form method="post" asp-controller="Asociar" asp-action="AsociacionMultiple">
                    <div class="ibox-title">
                        <h5>Asociación de Evaluados </h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-6 m-b-xs">
                                <select class="form-control" asp-items="@(new SelectList(ViewBag.losMedicos, "Nombre", "NombreUsuario"))" id="idMedico" name="idMedico">
                                    <option>Seleccione medico</option>
                                </select>
                            </div>

                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>IdH </th>
                                        <th>IDE </th>
                                        <th>CURP </th>
                                        <th>EVALUADO </th>
                                        <th>EVALUACION</th>
                                        <th>MEDICO</th>
                                        <th>FECHA</th>
                                        <th>GENERO</th>
                                        <th>PRECARGA</th>
                                        <th>F PROBL </th>
                                        <th>GAFETTE </th>
                                        <th>GRUPO </th>
                                        <th>VINCULO </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td><input type="checkbox" class="i-checks" name="input" value="@item.idhistorico"></td>
                                            <td>@Html.DisplayFor(modelITem => item.ide)</td>
                                            <td>@Html.DisplayFor(modelITem => item.curp)</td>
                                            <td>@Html.DisplayFor(modelITem => item.evaluado)</td>
                                            <td>@Html.DisplayFor(modelITem => item.cevaluacion)</td>
                                            <td>@Html.DisplayFor(modelITem => item.idMedico)</td>
                                            <td>@Html.DisplayFor(modelITem => item.fecha)</td>
                                            <td>@Html.DisplayFor(modelITem => item.sexo)</td>
                                            <td>@Html.DisplayFor(modelITem => item.precarga)</td>
                                            <td>@Html.DisplayFor(modelITem => item.fProbableEval)</td>
                                            <td>@Html.DisplayFor(modelITem => item.gaf)</td>
                                            <td>@Html.DisplayFor(modelITem => item.grupo)</td>
                                            <td>@Html.DisplayFor(modelITem => item.HayVinculo)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="ibox-footer">
                        <button type="submit" class="btn btn-primary">Asociar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    @*-- css --*@
    <link href="~/css/plugins/datapicker/datepicker3.css" rel="stylesheet" />
    <link href="~/css/plugins/iCheck/custom.css" rel="stylesheet" />

    @*-- js --*@

    <script src="~/js/plugins/dataTables/datatables.min.js"></script>
    <script src="~/js/plugins/datapicker/bootstrap-datepicker.js"></script>
    <script src="~/js/plugins/iCheck/icheck.min.js"></script>

    <script language="javascript">
        $(document).ready(function () {

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            $('.dataTables-example').DataTable({
                pageLength: 50,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'excel', title: 'EstCncaConcentrado' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });
        });

        $('#data_1 .input-group.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true,
            format: "dd/mm/yyyy"
        });
    </script>

}