
@{
    ViewData["Title"] = "EstadisticioCnca";
}

<form method="get" class="form-horizontal" asp-controller="Consultas" asp-action="EstadisticioCnca">
    <div class="panel panel-default">
        <div class="panel-heading">
            Estadística CNCA. <small>Rango de fechas</small>
        </div>
        <div class="panel-body">

            <div class="row form-group">

                <div class="form-group">

                    <label class="col-sm-1 control-label">De</label>

                    <div class="col-sm-2">
                        <div id="data_1">
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" id="fecha1" name="fecha1" class="form-control">
                            </div>
                        </div>
                    </div>

                    <label class="col-sm-1 control-label">A</label>

                    <div class="col-sm-2">
                        <div id="data_1">
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" id="fecha2" name="fecha2" class="form-control">
                            </div>
                        </div>
                    </div>

                    <label class="col-sm-1 control-label">Opc</label>

                    <div class="col-sm-3">
                        @Html.DropDownList("opcion", (IEnumerable<SelectListItem>)ViewBag.lasOpciones, "Seleccione una opcion", new { @class = "form-control" })
                    </div>

                    <div class="col-sm-2">
                        <div class="col-sm-1 col-sm-offset-1">
                            <button class="btn btn-primary" type="submit">Buscar</button>
                        </div>
                    </div>

                </div>

            </div>

            @*<div class="form-group">
                <div class="col-sm-1 col-sm-offset-1">
                    <button class="btn btn-primary" type="submit">Buscar</button>
                </div>
            </div>*@

        </div>
    </div>
</form>

@if (@ViewBag.opcion == "Concentrado")
{
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover dataTables-example">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Paterno</th>
                            <th>Materno</th>
                            <th>Curp</th>
                            <th>Estado</th>
                            <th>CECCC</th>
                            <th>Municipio</th>
                            <th>F Eval</th>
                            <th>Sexo</th>
                            <th>Evaluacion</th>
                            <th>Dependencia</th>
                            <th>Puesto</th>
                            <th>Inst Envia</th>
                            <th>Edad</th>
                            <th>Dx</th>
                            <th>Tatuaje</th>
                            <th>Audit</th>
                            <th>Fagerstrom</th>
                            <th>Función</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var itemVuelta in @ViewBag.deVuelta)
                        {
                            <tr>
                                <td>@itemVuelta.Nombre</td>
                                <td>@itemVuelta.Paterno</td>
                                <td>@itemVuelta.Materno</td>
                                <td>@itemVuelta.Curp</td>
                                <td>@itemVuelta.Estado</td>
                                <td>@itemVuelta.Ceccc</td>
                                <td>@itemVuelta.Municipio</td>
                                <td>@itemVuelta.FechaEvaluacion</td>
                                <td>@itemVuelta.Sexo</td>
                                <td>@itemVuelta.Evaluacion</td>
                                <td>@itemVuelta.Dependencia</td>
                                <td>@itemVuelta.Puesto</td>
                                <td>@itemVuelta.InstEnvia</td>
                                <td>@itemVuelta.Edad</td>
                                <td>@itemVuelta.Dx</td>
                                <td>@itemVuelta.Tatuaje</td>
                                <td>@itemVuelta.Audit</td>
                                <td>@itemVuelta.Fagerstrom</td>
                                <td>@itemVuelta.cFuncion</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

@if (@ViewBag.opcion == "Detallado")
{
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover dataTables-example">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Paterno</th>
                            <th>Materno</th>
                            <th>F Eval</th>
                            <th>Dependencia</th>
                            <th>Clave CIE10</th>
                            <th>Padecimiento CNCA</th>
                            <th>Arma</th>
                            <th>Padecimiento SISE</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var itemVuelta in @ViewBag.deVuelta)
                        {
                            <tr>
                                <td>@itemVuelta.Nombre</td>
                                <td>@itemVuelta.Paterno</td>
                                <td>@itemVuelta.Materno</td>
                                <td>@itemVuelta.FechaEvaluacion</td>
                                <td>@itemVuelta.Dependencia</td>
                                <td>@itemVuelta.ClaveCie10</td>
                                <td>@itemVuelta.PadecimientoCnca</td>
                                <td>@itemVuelta.Arma</td>
                                <td>@itemVuelta.PadecimientoSise</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

@section scripts
{
    @*-- css --*@
    <link href="~/css/plugins/datapicker/datepicker3.css" rel="stylesheet" />
    <link href="~/css/plugins/iCheck/custom.css" rel="stylesheet" />

    @*-- js --*@

    <script src="~/js/plugins/dataTables/datatables.min.js"></script>
    <script src="~/js/plugins/datapicker/bootstrap-datepicker.js"></script>
    <script src="~/js/plugins/iCheck/icheck.min.js"></script>

    <script language="javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 50,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'excel', title: 'EstCncaConcentrado' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });
        });

        $('#data_1 .input-group.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true,
            format: "dd/mm/yyyy"
        });
    </script>

}